.item-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
	gap: 1rem;
	padding-bottom: 2rem;
	margin: auto;
	place-content: center;
}

.content {
	padding-left: 6rem;
	padding-right: 6rem;
}

.title {
	text-align: center;
}

.search {
	display: flex;
	width: 40%;
	margin: auto;
	margin-bottom: -1rem;
}

.search input[type="submit"] {
	margin-top: 0.2rem;
	margin-left: 0.5rem;
	width: 100px;
}

.sub-links {
	display: flex;
	margin: auto;
	justify-content: center;
}

.sub-links a {
	--pico-text-decoration: none;
	padding: 1rem;
}

.categories {
	display: flex;
	margin: auto;
	justify-content: center;
	margin-bottom: 0.7rem;
}

.category {
	margin-right: 0.3rem;
	margin-left: 0.3rem;
	margin-bottom: 1rem;
}
